@import '../../assets/wxss/var.scss'; 

.nodata{position:absolute;display:flex;width:100%;height:100%;top:0;left:0;z-index:-1;flex-direction:column;align-items:center;justify-content:center;
    image{width:280rpx;margin-bottom:22rpx;}
    text{display:block;word-break:break-all;white-space:pre-wrap;text-align:center;font-size:28rpx;color:$lightBlack;}
    navigator{text-align:center;margin-top:20rpx;color:#fff;border-radius:8rpx;background:#0083ff;width:200rpx;height:60rpx;line-height:60rpx;font-size:28rpx;}}
