@import '../../assets/wxss/var.scss';

.nav-items{position:relative;display: flex; align-items: center;
  .userinfo-avatar{position:relative;width:80rpx;height:80rpx;border-radius:50%;background-size:cover;margin:0 60rpx 0 20rpx;}
  .book{position:absolute;top:0;left:104rpx;width:36rpx;height:36rpx;z-index: 1;animation: float ease-in-out 2s infinite alternate;}
  picker{text-align: center;}
}

@keyframes float{
  from{transform:translateY(0)}
  to{transform:translateY(10rpx)}
  }

.tabs{border:none!important;}

.data{background: #fff;display: flex;align-items: center;padding:0 20rpx;padding-bottom:60rpx;border-top:$border;border-bottom:$border;position: relative;box-sizing:border-box;
  image{width:80rpx;height:80rpx;margin-right:40rpx;}
  .val{flex: 1;text-align: center;color:black;font-size: 40rpx;font-weight: bold;}
  .remark{position: absolute;right:20rpx;bottom:30rpx;font-size:$m;line-height: 30rpx;color:$lightGray;}
}

.types{width:100%;height:160rpx;white-space:nowrap;box-sizing:border-box;background:$black;color:$gray;
  .type{display:inline-block;text-align:center;margin-right:100rpx;
      image{width:80rpx;height:80rpx;margin-top: 40rpx;}
      &:first-of-type{margin-left:40rpx;}
      &.active{color:#fff;
        image{transform: scale(1.3);transition:all .3s; }
      }
  }
}

.keyboard{width:100%;background: #fff;overflow: hidden;font-size:$xxl;color:black;
  view{box-sizing: border-box;width:25%;border:$border;text-align:center;float:left;
    // &:nth-of-type(4n-3){border-left: none;}
    // &:nth-of-type(n+13){border-bottom: none;}
    &.calculate{background: $lightRed;color:#fff;}
    &.confirm{background: $green;color:#fff;}
    &.point,&.del{background: $bg;}
  }
}