$xxl:36rpx;
$xl:32rpx;
$l:28rpx;
$m:24rpx;
$s:22rpx;

$topFloor:9;
$middleFloor:8;
$bottomFloor:7;
$subFloor:6;

$black:#333;
$lightBlack:#666;
$gray:#999;
$lightGray:#ccc;
$bg:#f2f2f2;

$darkBlue:#0083ff;
$blue:#4db2ff;
$lightBlue:#aed6fd;

$green:#1ac6a4;
$lightGreen:#95d364;

$red:#fc5b31;
$lightRed:#ff907f;

$purple:#9d86eb;
$orange:#ff8924;
$yellow:#f9b337;

$border:1rpx solid #E6E6E6;











